<div layout="vertical" class="spellEdit">
  <material-toolbar class="theme-dark-tff material-medium-tall" style="padding-top:15px;">
    <div class="material-toolbar-tools dark">
      <tf-float label="Spell" value="spell.$id" disabled></tf-float>
    </div>
  </material-toolbar>

  <material-content>
    <form style="padding: 20px;">
      <div class="row">
          <tf-float label="Level" value="spell.level" type="number"> </tf-float>
          <material-input-group>
              <label for="school">School</label>
              <my-material-select id="school" options="schools" ng-model="spell.school">
              </my-material-select>
          </material-input-group>
      </div>
      <div class="row">
        <tf-float label="Casting Time" value="spell.castTime"> </tf-float>
        <tf-float label="Range" value="spell.range"> </tf-float>
        <tf-float label="Components" value="spell.components"> </tf-float>
      </div>
      <div class="row">
        <tf-float label="Duration" value="spell.duration"> </tf-float>
        <material-checkbox ng-model="spell.concentration" aria-label="Concentration">
          Concentration
        </material-checkbox>
      </div>
      <div class="row">
        <div>
          Classes
          <material-checkbox ng-repeat='class in classes' ng-model="spell.classes[class]" aria-label="{{class}}">{{class}}</material-checkbox>
        </div>

        <material-input-group>
            <label for="description">Description</label>
            <my-material-textarea id="description" type="text" ng-model="spell.description"/>
        </material-input-group>
      </div>
    </form>
  </material-content>
</div>