<div layout="vertical" class="spellEdit">
  <md-toolbar class="md-medium-tall" style="padding-top:15px;">
    <div class="md-toolbar-tools">
      <tf-float label="Spell" value="spell.$id" disabled></tf-float>
    </div>
  </md-toolbar>

  <md-content>
    <form style="padding: 20px;">
      <div class="row">
          <tf-float label="Level" value="spell.level"> </tf-float>
          <md-input-group>
              <label for="school">School</label>
              <my-md-select id="school" options="schools" ng-model="spell.school">
              </my-md-select>
          </md-input-group>
      </div>
      <div class="row">
        <tf-float label="Casting Time" value="spell.castTime"> </tf-float>
        <tf-float label="Range" value="spell.range"> </tf-float>
        <tf-float label="Components" value="spell.components"> </tf-float>
      </div>
      <div class="row">
        <tf-float label="Duration" value="spell.duration"> </tf-float>
        <md-checkbox ng-model="spell.concentration" aria-label="Concentration">
          Concentration
        </md-checkbox>
        <md-checkbox ng-model="spell.ritual" aria-label="Ritual">
          Ritual
        </md-checkbox>
      </div>
      <div class="row">
        <div>
          Classes
          <md-checkbox ng-repeat='class in classes' ng-model="spell.classes[class]" aria-label="{{class}}">{{class}}</md-checkbox>
        </div>

        <md-input-group>
            <label for="description">Description</label>
            <my-md-textarea id="description" type="text" ng-model="spell.description" rows="12" cols="55"/>
        </md-input-group>
      </div>
    </form>
    <div>Description Preview (<a href="http://daringfireball.net/projects/markdown/" target="_blank">markdown</a>)</div>
    <md ng-model="spell.description"></md>
  </md-content>
</div>