<!doctype html>
<html class="no-js" ng-app="spellbook">
  <head>
    <meta charset="utf-8">
    <title>frontend</title>
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp,src}) styles/vendor.css -->


    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- inject:css -->
    <!-- endinject -->

    <!-- build:css({.tmp,src}) styles/main.css -->
    <link rel="stylesheet" href="app/edit/edit.css">
    <link rel="stylesheet" href="app/search/search.css">
    <link rel="stylesheet" href="app/spellbook.css">
    <!-- endbuild -->

    <!-- build:js scripts/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div layout="vertical" layout-fill>
      <md-toolbar class="md-theme-light">
        <div class="md-toolbar-tools">
          <h3>
            <span>Spellbook</span>
          </h3>
        </div>
      </md-toolbar>
      <div ng-view></div>
    </div>
<!--
    <section layout="horizontal" flex>
      <div ng-controller="MenuCtrl">
        <material-sidenav layout="vertical" class="spellbook-sidenav material-sidenav-left material-whiteframe-z3 ng-isolate-scope open" component-id="left">
          <material-toolbar class="material-theme-light material-medium-tall">
            <h1 class="material-toolbar-tools" style="padding-top:25px;">
              <a href="#" ng-click="alert('goHome')" tabindex="0">Spellbook</a>
            </h1>
          </material-toolbar>
          <material-content flex="">
            <material-button ng-href="#/search" class="material-button-colored" ng-class="{active: menu.isPageSelected(section, page)}" style="align: left; width: 100%;">
              Search
            </material-button>
            <material-button ng-click="spellNamePrompt()" class="material-button-colored" ng-class="{active: menu.isPageSelected(section, page)}" style="align: left; width: 100%;">
              Create
            </material-button>
          </material-content>

        </material-sidenav>
      </div>
      <material-content flex class="material-content-padding">
        <div ng-view></div>
      </material-content>
    </section>
    -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-55721784-1', 'auto');
      ga('send', 'pageview');

    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/hammerjs/hammer.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/firebase-simple-login/firebase-simple-login.js"></script>
    <script src="bower_components/mockfirebase/dist/mockfirebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.min.js"></script>
    <script src="bower_components/marked/lib/marked.js"></script>
    <script src="bower_components/angular-md/dist/angular-md.js"></script>
    <script src="bower_components/ng-stats/ng-stats.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({src,.tmp}) scripts/main.js -->
    <script src="app/spellbook.js"></script>
    <script src="app/search/search.controller.js"></script>
    <script src="app/edit/edit.controller.js"></script>
    <script src="components/menu/menu.controller.js"></script>

    <!-- inject:partials -->
    <!-- angular templates will be automaticaly converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
