<div layout="vertical" class="spellEdit">
  <material-content>
    <form style="padding: 20px;">
    	<tf-float label="Search" value="search.text"> </tf-float>
    	<div class="row">
          Level
          <material-checkbox ng-model="search.level1" aria-label="Level 1">1</material-checkbox>
          <material-checkbox ng-model="search.level2" aria-label="Level 2">2</material-checkbox>
      </div>
      <div class="row">
          School
          <material-checkbox ng-model="search.level11" aria-label="Conjuration">Conjuration</material-checkbox>
          <material-checkbox ng-model="search.level12" aria-label="Abjuration">Abjuration</material-checkbox>
      </div>
    </form>

    <ul ng-repeat="(key, value) in spells">
			<li><a href="{{ key }}">{{ key }}</a> - {{ value.description }}</li>
		</ul>
  </material-content>

</div>